*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login-form{
    width: 80%;
    background: skyblue;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.login-form >input{
    font-size: 30px;
}